.users-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.users-list-card {
  background-color: beige;
  border: 1px solid black;
  border-radius: 6px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.user-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid #000000;
  font-size: 15px;
  color: #222;
  cursor: default;
  transition: background-color 0.2s ease;
}
