.users-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.users-list-card {
  background-color: beige;
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.user-list-item {
  display: grid;
  gap: 12px;
  padding: 10px 16px;
  border-bottom: 1px solid #000000;
  font-size: 15px;
  transition: background-color 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.link-list {
  color: #666;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  transition: all 0.2s;
}

.link-list:hover {
  color: #007bff;
  background-color: #e9ecef;
}
